/* @import "tailwindcss"; */

a.active {
  color: red;
}

:root {
  /* --primary-color: #04535A;
  --secondary-color: #F3B175;
  --hitam-color: #1E1E1E; */
}

body{
  font-family: "Inter", sans-serif;
  margin: 8px;
}